<<<<<<< HEAD:style.css
/* Style the header with a grey background and some padding */
.header {
  overflow: auto;
  background-color: #FFFFFF;
  align-self: auto;
}

/* Style the header links */
.header a {
  float: left;
  padding-right: 8px;
}

.header ul {
  float: right;
  align-items: baseline;
  color: grey;
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 20px;
  font-weight: bolder;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #fff;
  color: none;
}

/* Style the active/current link*/
.header b.active {
  color: black;
  ;
}

/* Float the link section to the right */
.header-right {}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

/* Code for the body */
body {
  background: url(https://66.media.tumblr.com/5c3657ff9ea57bf07c6ea81ee8ec4bbb/tumblr_inline_nfk8jxZpIS1scftb0.jpg);
  font-family: 'ABeeZee', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Code for footer here */

.footer-distributed {
  background-color: ##5f5f5f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: justify;
  font: normal 16px sans-serif;
  /* Padding: height width */
  padding: 50px 50px;
  margin-top: 100px;
  display: inline-block;
}

.footer-distributed .footer-left {
  display: inline: ;
  float: left;
}

.footer-distributed .footer-left p {
  color: #292c2f font-size: 14px;
  /* margin: 0; */
}

/* Footer links */

.footer-distributed .footer-right {
  display: inline;
  float: right;
  max-width: 400px;
}

.footer-distributed .footer-right a {
  display: inline;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }

  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  /* .footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	} */
}
=======
/* Style the header with a grey background and some padding */
.header {
  overflow: auto;
  background-color: #FFFFFF;
  align-self: auto;
}

/* Style the header links */
.header a {
  float: left;
  padding-right: 8px;
}

.header ul {
  float: right;
  align-items: baseline;
  color: grey;
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 20px;
  font-weight: bolder;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #fff;
  color: none;
}

/* Style the active/current link*/
.header b.active {
  color: black;
  ;
}

/* Float the link section to the right */
.header-right {}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

/* Code for the body */
body {
  background: #000;
  font-family: 'ABeeZee', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Code for footer here */
.footer-distributed {
  background-color: #111;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: justify;
  color: #FFD700;
  font: normal 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #FFD700;
  /* Padding: height width */
  display: inline-block;
  padding: 12px;
}

.footer-distributed .footer-left {
  display: inline:;
  float: left;
}

.footer-distributed .footer-left p {
  color: #292c2f font-size: 14px;
  /* margin: 0; */
}

/* Footer links */
.footer-distributed .footer-right {
  display: inline;
  float: right;
  max-width: 400px;
}

.footer-distributed .footer-right a {
  display: inline;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }

  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  /* .footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	} */
}
>>>>>>> a6d6afeda68770af2df0e33dc7fcbfecf6823e54:style/style.css
