/* Style the header with a grey background and some padding */
/* Gold Color: #FFD700;
  Grey Color: #111
*/
/* a href link style */
.vision {
  margin: 24px;
  background-color: #FFFFFF;
  text-align: center;
  border-width: 10px;
  border-style: solid;
  padding: 25px;
}

.vision h1 {
  font-size: 60px;
  text-align: center;
}

.vision h2{
  font-style: oblique;
  font-size: 15px;
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #111;
}

a:active {
  background-color: #FFD700;
}

a:hover {
  background-color: none;
}

.header {
  overflow: auto;
  background-color: #fff;
  align-self: auto;
  margin: 0px;
}

/* Style the header */
.header a {
  float: left;
  padding-right: 8px;
  padding-left: 8px;
}

.header ul {
  float: right;
  align-items: baseline;
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 20px;
  font-weight: bolder;
}

/* Title for each page */
.pageTitle {
  margin: 24px;
  color: #fff;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
}

.pageTitle h1 {
  font-size: 100px;
  text-align: center;
}

/*a animation*/
.pageTitle h2 {
  font-style: italic;
  text-align: center;
}



/* background for company*/
.background {
  margin: 0 24px 24px 24px;
  text-align: center;
  font-size: 60;
  color: #fff;
}
.awesome {
  width:100%;
  margin: 0 24px 0 24px;
  /*text-align: center;
  /*vertical-align: text-top;*/
  color:#fff;
  font-size:17px;
  font-weight: bold;
  /*position: absolute;*/
}

/*
@-webkit-keyframes colorchange {

  0% {
  color: blue;
  }

  10% {
  color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }

  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}
*/

.kitchen{
  margin: 0px 24px 24px 24px;
  padding: 0px;
  background-size: cover;
}

img{
  float: left;
  height: 260px;
  width: 400px;
}


/* Code for the body */
body {
  background: #000;
  font-family: 'ABeeZee', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/woodfire.jpg);
}

/* Style for the menu items */
.centered-content {
  position: relative;
  content: "";
  display: flex;
  width: 100%
  clear: both;
  margin: 48px;
  background-color: #000;
}

.menu {
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
  width: 100%;
  text-align: center;
}

.congImage {
  position: relative;
  margin: 0px auto;
  padding: 0px;
  background-size: cover;
  height: 450px;
  background-image: url("../images/cong.jpg");
}

.victorImage {
  position: relative;
  margin: 0px auto;
  padding: 0px;
  background-size: cover;
  height: 450px;
  background-image: url("../images/victor.jpg");
}

.aneeshImage {
  position: relative;
  margin: 0px auto;
  padding: 0px;
  background-size: cover;
  height: 450px;
  background-image: url("../images/batman.jpg");
}

.pizzaName {
  position: absolute;
  background-image: linear-gradient(transparent, black);
  width: 100%;
  bottom: 0;
  text-align: center;
}

.pizzaDesc {
  opacity: 0.8;
  text-align: left;
  margin-bottom: 0;
}

button {
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  float: right;
  padding: 5px 5px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

/*-- Gallery --*/
.adipoli-wrapper {
  margin: auto;
  position: relative;
  display: inline-block;
}

.adipoli-wrapper>img {
  position: absolute;
  z-index: 1;
}

.adipoli-before {
  position: absolute;
  z-index: 5;
}

.adipoli-after {
  position: absolute;
  z-index: 10;
}

.adipoli-slice {
  display: block;
  position: absolute;
  z-index: 15;
  height: 100%;
  background-size: cover !important;
}

.gallery-grids img {
  width: 100% !important;
}

.gallery-grids {
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-bottom: 4px;
}

#gallery {
  background: ;
}

/*--// Gallery --*/
img.img-responsive {
  width: 100%;
}

.container:hover .img-responsive {
  opacity: 1;
}

/*--  responsive for gallery  --*/
@media(max-width:1280px) {
  .gallery {
    padding: 5em 0em;
  }
}

@media(max-width:991px) {
  .gallery-grids {
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-bottom: 4px;
    float: left;
    width: 50%;
  }

  .gallery {
    padding: 4em 0em;
  }
}

@media(max-width:736px) {
  .gallery {
    padding: 3em 0em;
  }
}

@media(max-width:375px) {
  .gallery {
    padding: 2.5em 0em;
  }
}

@media (min-width: 992px) {
  .col-md-4 {
    float: left;
  }

  .col-md-4 {
    width: 33.33333333%;
  }
}

/*--  responsive for gallery  --*/
/* Code for footer here */
.footer-distributed {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: justify;
  color: #fff;
  font: normal 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  /* Padding: height width */
  display: inline-block;
  padding: 12px;
}

.footer-distributed .footer-left {
  display: inline:;
  float: left;
}

.footer-distributed .footer-left p {
  color: #292c2f font-size: 14px;
  /* margin: 0; */
}

/* Footer links */
.footer-distributed .footer-right {
  display: inline;
  float: right;
  max-width: 400px;
}

.footer-distributed .footer-right a {
  display: inline;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }

  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
}
